*{
    margin: 0;
    padding: 0;
}
.input-box {
    display: flex;
    position: relative;
    width: 100%;
}
.input-box  input{
    min-width: 500px;
    padding: 7px 12px;
}
.input-box  input:focus ~ .field__label, .input-box  input:focus-visible ~ .field__label{
display: none;
}
.input-box .field__label{
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
    max-height: 50%;
    left: 14px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #747474;
    background-color: #fff;
    background-clip: padding-box;
    padding: 1px 0;
}
.suggestions_wrapper {
    overflow: hidden;
    max-height: 100%;
}
.suggestions_list {
    height: 100%;
    animation: searchScroll 25s infinite ease-out;
}
.suggestions_list > div {
    padding: 1px 0;
}
@keyframes searchScroll {
    0%,13.28% {
        transform: translateY(0)
    }

    16.6%,29.8% {
        transform: translateY(-100%)
    }

    33.3%,46.5% {
        transform: translateY(-200%)
    }

    49.8%,63% {
        transform: translateY(-300%)
    }

    66.3%,79.5% {
        transform: translateY(-400%)
    }

    82.8%,99% {
        transform: translateY(-500%)
    }
}